header {
    padding: 30px;
    background-image: url("../../Background/download.png");
    height: 50px;
}

header svg {
    font-size: 25px;
    color: #000000;

}

.avatar {
    float: right;
    width: 40px;
}
.logo{
    width: 100px;
    height: 100px;
}

