.sidenav {
    width: 300px;
    background: #ffffff;
    position: absolute;
    height: 95vh;
    padding: 0 30px;
    left: -100%;
    transition: all 0.75s;
}

.sidenav.active{
    left: 0;
}

ul {
    padding: 0;
}

ul li {
    font-family: "Roboto", sans-serif;
    margin-top: 15px;
    width: 100%;
    list-style-type: none;
    text-decoration: none;
    display: block;
    color: #000000;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 6px;
}

ul li:hover {
    background: #cfd8dd;
    font-weight: bold;
    color: #1b77f6;
}

ul li:active {
    background: #cfd8dd;
}
.icon-slide-bar{
    margin: 10px;
    font-size: 25px;
}